<script setup lang="ts">
	import { ref, inject, onMounted } from 'vue';
	import { date } from 'quasar';
	import { Record } from 'pocketbase';

	import { pocketBaseSymbol } from '../symbols/injection-symbols';

	const usePocketBase = inject(pocketBaseSymbol);

	const { formatDate } = date;

	const formatCardDate = (currentDate: number) =>
		formatDate(currentDate, 'MMMM D - h:mmA');

	const list = ref<Record[]>([]);
	const isLoadingFeed = ref(false);

	const fetchFeedPosts = async () => {
		isLoadingFeed.value = true;

		const postRecord = await usePocketBase
			?.collection('posts')
			.getFullList(30, { sort: '-currentDateTime' });

		if (postRecord) {
			list.value = postRecord;
		}

		isLoadingFeed.value = false;
	};

	onMounted(() => {
		fetchFeedPosts();
	});
</script>

<template>
	<q-page
		class="constrain-max-width q-pa-md"
		padding
	>
		<main class="layout-container">
			<template v-if="!isLoadingFeed && list.length">
				<q-card
					v-for="post in list"
					:key="post.id"
					class="q-mb-md main-card"
					bordered
					flat
				>
					<q-item>
						<q-item-section avatar>
							<q-avatar>
								<img
									src="https://cdn.quasar.dev/img/boy-avatar.png"
									alt="User's avatar"
								/>
							</q-avatar>
						</q-item-section>

						<q-item-section>
							<q-item-label class="text-bold">Nero</q-item-label>
							<q-item-label caption>
								{{ post.postLocation }}
							</q-item-label>
						</q-item-section>
					</q-item>

					<q-img
						:src="post.postImgUrl"
						alt="User's image post"
						fetchpriority="high"
						loading="lazy"
						no-spinner
					/>

					<q-separator />

					<q-card-section>
						<div>{{ post.postDescription }}</div>

						<div class="text-caption text-grey">
							{{ formatCardDate(post.currentDateTime) }}
						</div>
					</q-card-section>
				</q-card>
			</template>

			<template v-else-if="!isLoadingFeed && !list.length">
				<div class="no-feed text-center text-grey-6">
					<q-icon
						name="eva-flash-off-outline"
						class="q-mb-md"
						size="3rem"
					/>

					<h6 class="text-weight-regular no-margin">
						No one is rocking around here...
					</h6>

					<h6 class="text-weight-regular no-margin">
						Let's take some photos!
					</h6>
				</div>
			</template>

			<template v-else>
				<q-card
					v-for="(_, index) in 4"
					:key="index"
					class="q-mb-md main-card"
					bordered
					flat
				>
					<q-item>
						<q-item-section avatar>
							<q-skeleton
								type="QAvatar"
								animation="fade"
								size="40px"
							/>
						</q-item-section>

						<q-item-section>
							<q-item-label>
								<q-skeleton
									type="text"
									animation="fade"
								/>
							</q-item-label>
							<q-item-label caption>
								<q-skeleton
									type="text"
									animation="fade"
								/>
							</q-item-label>
						</q-item-section>
					</q-item>

					<q-skeleton
						height="500px"
						square
						animation="fade"
					/>

					<q-card-section>
						<q-skeleton
							type="text"
							class="text-subtitle2"
							animation="fade"
						/>
						<q-skeleton
							type="text"
							width="50%"
							class="text-subtitle2"
							animation="fade"
						/>
					</q-card-section>
				</q-card>
			</template>

			<aside class="side-profile">
				<template v-if="!isLoadingFeed">
					<q-item class="fixed">
						<q-item-section avatar>
							<q-avatar size="48px">
								<img
									src="https://cdn.quasar.dev/img/boy-avatar.png"
									alt="User's avatar"
								/>
							</q-avatar>
						</q-item-section>

						<q-item-section>
							<q-item-label class="text-bold">Nero</q-item-label>
							<q-item-label caption>maths_fc</q-item-label>
						</q-item-section>
					</q-item>
				</template>

				<template v-else>
					<q-item>
						<q-item-section avatar>
							<q-skeleton
								type="QAvatar"
								size="48px"
							/>
						</q-item-section>

						<q-item-section>
							<q-item-label>
								<q-skeleton type="text" />
							</q-item-label>

							<q-item-label caption>
								<q-skeleton
									type="text"
									width="65%"
								/>
							</q-item-label>
						</q-item-section>
					</q-item>
				</template>
			</aside>
		</main>
	</q-page>
</template>

<style lang="scss" scoped>
	.side-profile {
		display: none;
	}

	@media (min-width: $breakpoint-sm-min) {
		.layout-container {
			display: grid;
			grid-template-columns:
				[page-start] minmax(10px, 1fr)
				[content-start] minmax(10px, 1fr)
				[content-end] minmax(10px, 1fr)
				[page-end];
			column-gap: 2rem;
		}

		.main-card {
			grid-column: page / content-end;
		}

		.side-profile {
			display: block;
			grid-column: content-end / page-end;
			grid-row: 1;
		}

		.no-feed {
			grid-column: page / content-end;
			justify-self: center;
			align-self: center;
		}
	}
</style>
