<script setup lang="ts">
	import { ref, computed, inject, onMounted, onBeforeUnmount } from 'vue';
	import { Notify, uid } from 'quasar';

	import { pocketBaseSymbol } from '../symbols/injection-symbols';
	import { api } from 'src/boot/axios';
	import {
		getStorage,
		ref as refStorage,
		uploadBytes,
		getDownloadURL,
	} from 'firebase/storage';

	const usePocketBase = inject(pocketBaseSymbol);

	const videoRef = ref<InstanceType<typeof HTMLVideoElement> | null>(null);
	const mediaStreamTrack = ref<MediaStreamTrack[]>();
	const isVideoUnsupported = ref(false);
	const isPhotoTriggered = ref(false);

	const initCamera = async () => {
		const userMedia = await navigator.mediaDevices.getUserMedia({
			video: true,
			audio: false,
		});

		return {
			stream: userMedia,
		};
	};

	const initVideoStream = async () => {
		try {
			const { stream } = await initCamera();

			if (videoRef.value === null) return;

			if (canvasRef.value === null) return;

			videoRef.value.srcObject = stream;
			videoRef.value.style.display = 'block';
			canvasRef.value.style.display = 'none';

			mediaStreamTrack.value = stream.getTracks();

			isPhotoTriggered.value = false;
		} catch (error) {
			isVideoUnsupported.value = true;
		}
	};

	const stopCurrentStream = () =>
		mediaStreamTrack.value?.forEach((track) => track.stop());

	onMounted(() => {
		initVideoStream();
	});

	onBeforeUnmount(() => {
		stopCurrentStream();
	});

	const initUserGeolocation = async (): Promise<GeolocationCoordinates> => {
		return new Promise((resolve, reject) => {
			if (!navigator.geolocation)
				return reject(new Error('Geolocation is not available'));

			navigator.geolocation.getCurrentPosition((position) => {
				resolve(position.coords);
			});
		});
	};

	const postLocation = ref('');

	const fetchUserLocation = async () => {
		try {
			const { latitude, longitude } = await initUserGeolocation();

			const { data } = await api.get(
				`https://nominatim.openstreetmap.org/reverse?&lat=${latitude}&lon=${longitude}&format=json`
			);

			return {
				suburb: data.address.suburb,
				city: data.address.town,
				state: data.address.state,
			};
		} catch (error) {
			Notify.create({
				message: 'Could not find your location',
				classes: 'full-width',
			});
		}
	};

	const userLocationPlaceholder = async () => {
		const currentLocation = await fetchUserLocation();

		postLocation.value = `${currentLocation?.suburb} - ${currentLocation?.city}, ${currentLocation?.state}`;
	};

	const canvasRef = ref<InstanceType<typeof HTMLCanvasElement> | null>(null);
	const changeTriggeredIconPosition = computed(() =>
		isPhotoTriggered.value ? 'q-mb-xl' : ''
	);

	const onTriggerPhoto = async () => {
		try {
			isPhotoTriggered.value = true;

			const picture = canvasRef.value?.getContext('2d');

			if (videoRef.value === null) return;

			if (canvasRef.value === null) return;

			canvasRef.value.width = videoRef.value.getBoundingClientRect().width;
			canvasRef.value.height = videoRef.value.getBoundingClientRect().height;

			picture?.drawImage(
				videoRef.value,
				0,
				0,
				canvasRef.value.width,
				canvasRef.value.height
			);

			stopCurrentStream();

			await userLocationPlaceholder();
		} catch (error) {
			Notify.create({
				message: 'Error on oake your photo, please try again',
				classes: 'full-width',
			});
		}
	};

	const pushImageToStorage = async (image: Blob) => {
		const storageReference = refStorage(getStorage(), `user-posts/${uid()}`);

		await uploadBytes(storageReference, image);

		return await getDownloadURL(storageReference);
	};

	const convertCanvasToBlob = async () => {
		try {
			if (canvasRef.value === null) return;

			return await (await fetch(canvasRef.value.toDataURL())).blob();
		} catch (error) {
			Notify.create({
				message: 'Error on processing your image, please try again',
				classes: 'full-width',
			});
		}
	};

	const getImageURL = async () => {
		const blobImage = await convertCanvasToBlob();

		if (blobImage === undefined) return;

		return await pushImageToStorage(blobImage);
	};

	const postDescription = ref('');
	const isLoadingCreationPost = ref(false);

	const onCreatePost = async () => {
		try {
			isLoadingCreationPost.value = true;

			const createPost = {
				postImgUrl: await getImageURL(),
				postDescription: postDescription.value,
				currentDateTime: Date.now(),
				postLocation: postLocation.value,
			};

			await usePocketBase?.collection('posts').create(createPost);

			Notify.create({
				message: 'New post created',
				classes: 'full-width',
				actions: [{ label: 'Dismiss', color: 'green-5', class: 'no-caps' }],
			});

			if (canvasRef.value === null) return;

			canvasRef.value.style.display = 'none';

			initVideoStream();

			isLoadingCreationPost.value = false;
		} catch (error) {
			Notify.create({
				message: 'Error to post your photo, please try again',
				classes: 'full-width',
			});
		}
	};
</script>

<template>
	<q-page
		class="constrain-max-width page-container"
		:padding="$q.screen.gt.xs"
	>
		<main class="camera-frame">
			<div v-if="isVideoUnsupported">
				<div
					class="q-ma-md text-weight-light text-grey-8 text-body2 text-center"
				>
					<q-icon
						size="48px"
						class="text-grey-5"
						name="eva-video-off-outline"
					/>

					<p class="q-mt-lg">
						Your device does not support camera or do not have permission.
					</p>
				</div>
			</div>

			<div class="relative-position">
				<q-linear-progress
					v-show="isLoadingCreationPost"
					indeterminate
				/>

				<template v-if="!isVideoUnsupported">
					<video
						v-show="!isPhotoTriggered"
						ref="videoRef"
						class="full-width"
						autoplay
						muted
					/>

					<canvas
						v-show="isPhotoTriggered"
						ref="canvasRef"
						class="full-width"
					/>

					<footer
						v-show="!isPhotoTriggered"
						:class="changeTriggeredIconPosition"
						class="absolute-bottom text-center"
					>
						<q-btn
							icon="eva-radio-button-on"
							color="transparent"
							text-color="white"
							size="2rem"
							flat
							@click="onTriggerPhoto"
						/>
					</footer>

					<aside
						v-show="isPhotoTriggered"
						class="absolute-top-right"
					>
						<q-btn
							:disable="isLoadingCreationPost"
							icon="eva-close-outline"
							class="q-mt-sm q-mr-sm"
							text-color="white"
							size="1.5rem"
							dense
							flat
							round
							@click="initVideoStream"
						/>
					</aside>
				</template>

				<form
					v-if="isPhotoTriggered"
					class="q-ma-sm row"
				>
					<q-input
						v-model="postDescription"
						label="Description"
						class="full-width row"
					>
						<template v-slot:prepend>
							<q-icon
								name="eva-edit-outline"
								color="primary"
							/>
						</template>
					</q-input>

					<div class="q-mt-sm full-width row">
						<q-input
							v-model="postLocation"
							label="Location"
							class="col"
						>
							<template v-slot:prepend>
								<q-icon
									name="eva-edit-outline"
									color="primary"
								/>
							</template>
						</q-input>

						<q-btn
							v-show="isPhotoTriggered"
							:disable="!postDescription"
							icon="eva-navigation-2-outline"
							text-color="accent"
							size="1.2rem"
							color="grey-3"
							rounded
							dense
							flat
							@click="onCreatePost"
						/>
					</div>
				</form>
			</div>
		</main>

		<q-toolbar class="lt-sm bg-black gallery-toolbar">
			<q-toolbar-title class="text-white text-permanent text-body1">
				Gallery
			</q-toolbar-title>

			<q-btn
				icon="eva-attach"
				text-color="white"
				dense
				round
				flat
			/>
		</q-toolbar>

		<footer class="album-grid">
			<div class="item">Photo</div>
			<div class="item">Photo</div>
			<div class="item">Photo</div>
		</footer>
	</q-page>
</template>

<style lang="scss" scoped>
	@media (max-width: $breakpoint-xs-max) {
		.page-container {
			display: grid;
			grid-template-columns:
				[page-start] minmax(10px, 1fr)
				[content-start] minmax(10px, 1fr)
				[content-end] minmax(10px, 1fr)
				[page-end];
			grid-template-rows:
				[page-top] minmax(10px, 2fr)
				[content-top] 0.4fr
				[page-bottom] minmax(10px, 1fr);
		}

		.camera-frame {
			grid-column: page;
		}

		.gallery-toolbar {
			grid-column: page;
			grid-row-start: content-top;
		}

		.album-grid {
			grid-column: page;

			display: grid;
			grid-template-columns: repeat(3, minmax(10px, 1fr));
			grid-auto-flow: row;
			grid-auto-rows: minmax(9rem, 1fr);
		}
	}

	@media (min-width: $breakpoint-sm-min) {
		.page-container {
			display: grid;
			grid-template-columns:
				[page-start] minmax(10px, 1fr) [content-start] minmax(10px, 1r)
				[page-end];
			grid-template-columns:
				[page-start] minmax(10px, 3fr)
				[content-start] repeat(2, minmax(10px, 1fr))
				[page-end];
			grid-template-rows:
				[row-top] minmax(10px, 1fr)
				[row2-top] minmax(10px, 1fr)
				[row2-bottom] minmax(10px, 1fr)
				[row-bottom];
			column-gap: 1rem;
		}

		.camera-frame {
			grid-column: page-start / content-start;
			grid-row: row-top / row2-bottom;
		}

		.album-grid {
			grid-column: content-start / page-end;
			grid-row: row-top / row-bottom;

			display: grid;
			grid-template-columns:
				[grid-start] repeat(2, minmax(10px, 1fr))
				[grid-end];
			grid-template-rows:
				[grid-top] minmax(10px, 1fr)
				[content-top] minmax(10px, 1fr);
			grid-auto-rows: minmax(10px, 1fr);
			grid-auto-flow: row;
			gap: 1px;
		}
	}

	.item {
		display: flex;
		border-color: $grey-5;
		background-color: $grey-2;
		border-style: solid;
		border-width: 1px;
		justify-content: center;
		align-items: center;
	}

	.no-photo {
		display: flex;
		background-color: $grey-5;
		border-style: solid;
		border-width: 1px;
		justify-content: center;
		align-items: center;
	}
</style>
