// Fonts
@font-face {
  font-family: Permanent Marker;
  src: url(./fonts/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: Rock Salt;
  src: url(./fonts/RockSalt-Regular.ttf);
}

// declare a class which applies it
.text-permanent {
  font-family: 'Permanent Marker', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.text-rock-salt {
  font-family: 'Rock Salt', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

// Breakpoints
.small-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: block;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: none;
  }
}

.large-screen-only {
 @media (max-width: $breakpoint-xs-max) {
  display: none;
}

@media (min-width: $breakpoint-sm-min) {
  display: block;
  }
}
  
.constrain-max-width {
  max-width: 975px;
  margin: 0 auto;
}

// Background
.q-page-container {
  background-color: $grey-1; 
}

// Overall style
.q-card {
  border-radius: 12px;
}


