// Quasar SCSS (& Sass) Variables

$primary   : #7281d3;
$secondary : #8d8fa6;
$accent    : #ac85a1;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
