<script setup lang="ts">
	import { ref, onMounted } from 'vue';
	import type { BeforeInstallPromptEvent } from '../types';
	import { useLocalStorage } from '@vueuse/core';

	const localStorage = useLocalStorage('local-storage', {
		neverShowAppInstallBanner: false,
	});

	/**
	   BeforeInstallPromptEvent type

	  @see https://stackoverflow.com/questions/51503754/typescript-type-beforeinstallpromptevent/51847335#51847335
	 */
	let deferredPrompt: BeforeInstallPromptEvent;
	const isInstallBannerOpen = ref(false);

	// TODO: Convert into a Composable later
	const onPromptInstallApp = async () => {
		isInstallBannerOpen.value = false;

		deferredPrompt.prompt();

		const { outcome } = await deferredPrompt.userChoice;

		if (outcome === 'accepted') {
			onNeverShowAppInstallBanner();
		} else if (outcome === 'dismissed') {
			isInstallBannerOpen.value = true;
		}
	};

	const onLaterHidePrompt = () => {
		isInstallBannerOpen.value = false;
	};

	const onNeverShowAppInstallBanner = () => {
		isInstallBannerOpen.value = false;
		localStorage.value.neverShowAppInstallBanner = true;
	};

	onMounted(() => {
		if (!localStorage.value.neverShowAppInstallBanner) {
			window.addEventListener('beforeinstallprompt', (event) => {
				event.preventDefault();

				deferredPrompt = event;

				setTimeout(() => {
					isInstallBannerOpen.value = true;
				}, 3000);
			});
		}
	});
</script>

<template>
	<q-layout view="lHh Lpr lFf">
		<q-header
			bordered
			class="text-grey-10 bg-white"
		>
			<q-toolbar class="constrain-max-width">
				<q-toolbar-title
					class="text-primary text-rock-salt text-h6 text-bold"
				>
					Exchangeagram
				</q-toolbar-title>

				<q-btn
					icon="eva-home-outline"
					class="large-screen-only"
					to="/home"
					rounded
					flat
				/>

				<q-btn
					icon="eva-camera-outline"
					class="large-screen-only"
					to="/camera"
					rounded
					flat
				/>

				<q-btn
					icon="eva-person-outline"
					class="large-screen-only"
					to="/user"
					disable
					rounded
					flat
				/>
			</q-toolbar>
		</q-header>

		<q-page-container>
			<router-view />
		</q-page-container>

		<q-footer
			class="bg-white"
			bordered
		>
			<transition
				appear
				enter-active-class="animated fadeIn"
				leave-active-class="animated fadeOut"
			>
				<div
					v-if="isInstallBannerOpen"
					class="bg-primary"
				>
					<div class="constrain-max-width">
						<q-banner
							class="bg-primary row align-center self-center"
							inline-actions
						>
							<template v-slot:avatar>
								<img
									src="../assets/icons/favicon-96x96.png"
									style="width: 45px; height: 45px"
									alt="Icon banner"
								/>
							</template>

							<p class="no-margin text-subtitle2">Get Exchangeagram!</p>

							<template v-slot:action>
								<q-btn
									label="Install"
									no-caps
									rounded
									flat
									@click="onPromptInstallApp"
								/>
								<q-btn
									label="Later"
									class="q-mx-sm"
									no-caps
									rounded
									dense
									flat
									@click="onLaterHidePrompt"
								/>

								<q-btn
									label="Never"
									no-caps
									rounded
									dense
									flat
									@click="onNeverShowAppInstallBanner"
								/>
							</template>
						</q-banner>
					</div>
				</div>
			</transition>

			<q-tabs
				class="bg-white text-grey-5 small-screen-only"
				indicator-color="transparent"
				active-color="primary"
			>
				<q-route-tab
					name="home"
					icon="eva-home-outline"
					to="/home"
					exact
				/>
				<q-route-tab
					name="camera"
					icon="eva-camera-outline"
					to="/camera"
					exact
				/>
				<q-route-tab
					name="user"
					icon="eva-person-outline"
					exact
					disable
				/>
			</q-tabs>
		</q-footer>
	</q-layout>
</template>

<style lang="scss" scoped>
	.q-toolbar {
		@media (min-width: $breakpoint-sm-min) {
			height: 75px;
		}
	}
	.q-footer {
		.q-tab__icon {
			font-size: 30px;
		}
	}

	.q-toolbar__title {
		@media (max-width: $breakpoint-xs-max) {
			text-align: center;
		}
	}
</style>
